NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
DATABASE_URL='postgresql://neondb_owner:npg_fd8DKBogF7AU@ep-withered-tree-ap63bgnn-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
FRONTEND_ORIGIN=https://task1-beginner-profile-frontend-aedxqfb1e-roxyross-projects.vercel.app
